.journal-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-title {
  border: none;
  background: none;
  font-size: 32px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  border-bottom: 1px solid #575555;
  width: 100%;
}

.form-label {
  display: flex;
  align-items: center;
  gap: 20px;
  min-width: 150px;
}

.form-row {
  display: flex;
  align-items: center;
}

.input {
  border: none;
  background: none;
  font-size: 14px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  border-bottom: 1px solid #575555;
  width: 100%;
}

.invalid {
  border: 1px solid red;
  background: rgb(75, 47, 47);
}